
/* Nexa Free Bold */
@font-face {
	font-family: 'nexa_boldregular';
	src: url('../fonts/nexafree/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexafree/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nexafree/Nexa_Free_Bold-webfont.woff') format('woff'),
		url('../fonts/nexafree/Nexa_Free_Bold-webfont.ttf') format('truetype'),
		url('../fonts/nexafree/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexa_lightregular';
	src: url('../fonts/nexafree/Nexa_Free_Light-webfont.eot');
	src: url('../fonts/nexafree/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nexafree/Nexa_Free_Light-webfont.woff') format('woff'),
		url('../fonts/nexafree/Nexa_Free_Light-webfont.ttf') format('truetype'),
		url('../fonts/nexafree/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	background: url('../images/bg.jpg');
}

body {
	background: transparent !important;
}

b {
	font-family: 'Open Sans';
	font-weight: 600;
}

.container {
	background-color: #0d0d0d;
	font-family: 'Open Sans';
	color: #efefef;
	padding: 5px 40px 5px 40px !important;
	box-sizing: border-box !important;

	-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);

	z-index: 30;
	position: relative;
}

.container.top {

	width: 100%;
	max-width: 100%;

	background: url('../images/gradient-top.png') 0% 0% repeat-x;
	background-color: transparent;
	font-family: 'Open Sans';
	color: #efefef;
	height: 540px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	z-index: 20;
	position: relative;
}

.container.top-content {

	background: transparent;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

.container.carousel {
	width: 100%;
	max-width: 100%;
	background: 0;
	text-align: center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 535px;
	overflow: hidden;
	margin-top: -540px;
	z-index: 10;
	position: relative;
	padding: 0;
}

.container.carousel .overlay {
	width: 1181px;
	margin:0 auto;

	position: absolute;
	top: 0;
	left: 1px;
	right: 1px;
	text-align: center;
	background-color: transparent;
	height: 530px;
	background: url('../images/gradient-bottom.png') 50% 427px repeat-x;
	z-index: 50;
}

.container.carousel .photo {
	width: 100%;
	max-width: 100%;

	position: absolute;
	top: 0;
	text-align: center;
	background-color: transparent;
	height: 530px;
	margin: 0;
	left: 0;
	right: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.container.carousel .photo {
	display: none;
}

.container.carousel .photo.show {
	display: block;
}

.row.buy-button-section {
	background-color: transparent;
	height: 100px;
	margin-top: -110px;
	padding-top: 22px;
	/*margin-right: -46px;
	margin-left: -46px;*/
}

.ctas {
	background-color: #181f2a;
}

.main-nav {
	border: solid 1px #3c4d66;
	border-width: 1px 0;
	padding: 6px 0;
	margin-bottom: 20px;
}
	.main-nav ul {
		margin-bottom: 0;
		padding-top: 3px;
	}
	.main-nav a:link,
	.main-nav a:visited,
	.social a:link,
	.social a:visited {
		font-family: 'nexa_boldregular', sans-serif;
		color: #a9e0ff;
		text-transform: uppercase;
		font-weight: 100;
	}

	/*.main-nav a:hover,
	.social a:hover {
		color: #6dace2;
	}*/

.main-nav ul.social {
	padding-top: 0;
}


.main-nav .social .youtube a {
	background: url('../images/social-icons.png') no-repeat;
	display: block;
	padding-top: 23px;
	height: 0;
	width: 23px;
	overflow: hidden;
}
	.main-nav .social .youtube a:hover {
		background-position: 0 -23px;
	}

.main-nav .social .twitter a {
	background: url('../images/social-icons.png') no-repeat;
	background-position: -30px 0;
	display: block;
	padding-top: 23px;
	height: 0;
	width: 23px;
	overflow: hidden;
}
	.main-nav .social .twitter a:hover {
		background-position: -30px -23px;
	}

.main-nav .social .facebook a {
	background: url('../images/social-icons.png') no-repeat;
	background-position: -60px 0;
	display: block;
	padding-top: 23px;
	height: 0;
	width: 23px;
	overflow: hidden;
}
	.main-nav .social .facebook a:hover {
		background-position: -60px -23px;
	}

.main-nav .social {
	height: 24px;
	overflow: hidden;
}

.about ul li {
	font-family: 'nexa_lightregular', sans-serif;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	padding: 20px 60px 0 60px;
}

	.about ul li.last {
		padding-right: 0;
	}

h1.logo a {
	background: url('../images/nerdapalooza-logo.png') no-repeat;
	display: block;
	padding-top: 51px;
	height: 0;
	width: 292px;
	overflow: hidden;
}

h2.callout {
	font-family: 'nexa_boldregular', sans-serif;
	color: #fff;
	text-transform: uppercase;
	line-height: 36px;
	margin-top: 5px;
	font-weight: 100;
	text-align: center;
	font-size: 60px;
}

h2.choose {
	font-family: 'nexa_boldregular', sans-serif;
	color: #6298e4;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	font-weight: 100;
	text-align: center;
	padding-bottom: 10px;
}

	.choices {
		font-size: 14px;
		font-family: 'Open Sans';
		text-transform: none;
		display: block;
		color: #d7d7d7;
		padding-bottom: 10px;
		margin-top: -8px;
		text-align:center;
		width: 100%;
		font-weight: 100;
	}

.copyright {
	font-family: 'nexa_boldregular', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
}

.go-back {
	font-size: 18px;
	display: block;
	text-align: center;
}

.row.ctas {
	box-sizing: content-box;
	width: 110%;
	margin-left: -5%;

	padding-top: 20px;
	padding-bottom: 35px;

	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
	z-index: 900;
	position: relative;
}
	.ctas .cta {
		box-sizing: content-box;
		width: 310px;
		padding-top: 200px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 70px;
		margin-right: 70px;
		position: relative;
	}

	.ctas .performers {
		background: url('../images/button-cta-icons-performers.png') center 20px no-repeat;
z-index: 1100;
position: relative;
		margin-left: 70px;
		margin-right: 0px;
	}

	.ctas .vendors {
		background: url('../images/button-cta-icons-vendors.png') center 20px no-repeat,
					url('../images/tall-separator.gif') center left no-repeat,
					url('../images/tall-separator.gif') center right no-repeat;
		padding-left: 35px;
		padding-right: 35px;
		margin-left: 35px;
		margin-right: 35px;
	}

	.ctas .volunteers {
		background: url('../images/button-cta-icons-volunteers.png') center 20px no-repeat;

		margin-left: 0px;
		margin-right: 70px;
	}
	
	.ctas .col-md-4.cta.last {
		margin-right: 0;
	}

	.container .row.ctas .col-md-4.cta.sub-option-first,
	.container .row.ctas .col-md-4.cta.sub-option-second {
		min-height: 0;
	}

	.cta.sub-option-first {
		background: url('../images/short-separator.gif') center right no-repeat;
		padding-right: 50px;
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
	}
		.cta.sub-option-second {
		padding-left: 50px;
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
	}

	.cta.sub-option-first,
	.cta.sub-option-second {
		padding-top: 0 !important;
	}

	.invisible{
		visibility: hidden;
	}

.cta-btn-container {
	text-align: center;
}

.performers-heading {
	font-size: 10px;
	margin-bottom: -20px;
	height: 20px;
	font-family: 'nexa_boldregular', sans-serif;
	color: #4c5d79;
	text-transform: uppercase;
	font-weight: 100;
	z-index: 1100;
	position: relative;
}

.performers-heading span {
	margin: 0 auto;
	display: block;
	width: 100%;
	text-align: center;
}

.performers-heading span a {
	text-decoration: underline;
}

footer {
	padding-top: 14px;
}

.btn-lg {
	font-family: 'Open Sans';
	font-weight: 700;
	text-transform: uppercase;
	background: #518eb7 !important;
	border-radius: 3px;
	border: none 0 !important;
	color: #fff !important;
	padding: 15px 15px !important;
	width: 190px;
	-webkit-box-shadow: 0px 2px 0px #396f94;
	-moz-box-shadow: 0px 2px 0px #396f94;
	box-shadow: 0px 2px 0px #396f94;
	text-shadow: 0px 1px 0px #2e5f81;
	margin-bottom: 10px !important;
}
	.btn-lg:hover {
		background: #4984ac !important;
		-webkit-box-shadow: 0px 2px 0px #366c90;
		-moz-box-shadow: 0px 2px 0px #366c90;
		box-shadow: 0px 2px 0px #366c90;
	}

.btn-lg.btn.buy {
	background: #f29d52 !important;
	box-shadow: 0px 2px 0px #b06523;
	-webkit-box-shadow: 0px 2px 0px #b06523;
	-moz-box-shadow: 0px 2px 0px #b06523;
	text-shadow: 0px 1px 0px #d5833a;
}
	.btn-lg.buy:hover {
		background: #d5833a !important;
		-webkit-box-shadow: 0px 2px 0px #b06523;
		-moz-box-shadow: 0px 2px 0px #b06523;
		box-shadow: 0px 2px 0px #b06523;
	}


.button-heading {
	text-transform: uppercase;
	display: block;
	padding-bottom: 5px;
}

hr.vertical.spacer {
	border: solid 1px #3c4d66;
	float: left;
	height: 200px; 
	margin-left: -1px;
}

.bullet {
	padding: 0 10px;

	font-family: 'nexa_boldregular';
}

/* sponsors */

.sponsors h3 {
	display: none;
}

.container .row.sponsors {
	background: #171717;
	color: #2b3442;
	border: solid 1px #212937;
	border-width: 0 0 1px 0;
	margin-bottom: 15px;
	padding-top:30px;
	margin-top: -25px;
	margin-left: -40px;
	margin-right: -40px;

	z-index: 500;
	position: relative;
	text-align:center;
}


.sponsors ul,
.sponsors ul li {
	margin:0;
	padding:0;
}

.sponsors ul li {
	display: inline-block;
	list-style-type: none;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-right: 10px;
}

.container .row.sponsors .sponsor ul li {
	max-width: 100%
}
.container .row.sponsors .sponsor ul li a {
	height: 0;
	overflow: hidden;
	display: block;
	background-size: contain;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.sponsors ul li.clear {
	clear: both;
}

.sponsors ul li a {
}

.sponsors ul li a.hertz {
	background-image: url('../images/sponsor-logo-hertz.png');
	width: 179px;
	padding-top: 68px;
}
.sponsors ul li a.stiletto {
	background-image: url('../images/sponsor-logo-stiletto.png');
	width: 197px;
	padding-top: 107px;
}
.sponsors ul li a.cloudspace {
	background-image: url('../images/sponsor-logo-cloudspace.png');
	width: 195px;
	padding-top: 27px;
}
.sponsors ul li a.fangamer {
	background-image: url('../images/sponsor-logo-fangamer.png');
	width: 195px;
	padding-top: 39px;
	
	margin-left: 10px;
}
.sponsors ul li a.scifried {
	background-image: url('../images/sponsor-logo-scifried.png');
	width: 112px;
	padding-top: 59px;

	margin-top: 10px;
}
.sponsors ul li a.nerdymusic {
	background-image: url('../images/sponsor-logo-nerdymusic2.png');
	width: 100px;
	padding-top: 68px;
	
	margin-left: 10px;
	margin-top: 10px;
}
.sponsors ul li a.jeffdouglasphotography {
	background-image: url('../images/sponsor-logo-jeffdouglasphotography.png');
	width: 115px;
	padding-top: 80px;
}
.sponsors ul li a.nerdyshow {
	background-image: url('../images/sponsor-logo-nerdyshow2.png');
	width: 110px;
	padding-top: 75px;
}
.sponsors ul li a.nn {
	background-image: url('../images/sponsor-logo-nn.png');
	width: 90px;
	padding-top: 80px;
}
.sponsors ul li a.nerdcoremeow {
	background-image: url('../images/sponsor-logo-nerdcoremeow.png');
	width: 130px;
	padding-top: 80px;
}
.sponsors ul li a.acomicshop {
	background-image: url('../images/sponsor-logo-acomicshop.png');
	width: 110px;
	padding-top: 75px;
}


.sponsors .sponsor {
	border: solid 1px #212937;
	border-width: 1px 0 0 0;
	min-height: 245px;
}

.sponsors .sponsor.second {
	border: solid 1px #212937;
	border-width: 1px 1px 0 1px;
}

	.container .row.sponsors .sponsor.first {
		padding-left: 30px;
	}

	.container .row.sponsors .sponsor.third {
	border: solid 1px #212937;
	border-width: 1px 1px 0 0;
	}

.sponsors h4 {
	font-family: 'nexa_boldregular', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 13px;
}

/* marquee */

.row.marquee-container {
	width: 110%;
	margin-left: -5%;
	background: #181f2a;
	border-width: 1px 0;
	text-transform: uppercase;
	z-index: 1000;
	position: relative;
}

.marquee {
	background: #30405a;
	font-family: 'nexa_lightregular';
	overflow-x: hidden;
	overflow-y: hidden;
	height: 40px;
	font-size: 20px;
	width: 100%;
	position: relative;
	font-weight: 100;
	padding-top: 5px;

	display: block;
	white-space: nowrap;
	height: 40px;
	font-weight: 100;
	vertical-align: middle;
	padding-top: 8px;
}

	.marquee span.featured {
	font-family: 'nexa_boldregular';
	/*padding-left: 1200px;	*/
	/*font-size: 24px;*/
	/*font-size: 24px;
	line-height: 24px;*/
	vertical-align: middle;
	display: inline-block;
	font-weight: 100;
	}

		.marquee span.featured .bullet {
			/*font-family: 'nexa_lightregular';*/
			/*font-size: 20px;
			
			padding-top: 21px;
			height: 0;
			width: 30px;
			overflow: hidden;
			padding-left: 30px;
			padding-right: 30px;
			display: inline-block;*/
		}

.social.full li.main {
	display: none;
}

.sub-msg.text-right,
.sub-msg.text-left {
	text-align: center;
	font-weight: 100;
}

.container .row.ctas.select {
	text-align: center;
	padding-bottom: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container .row.ctas.select .contact {
	width: 600px;
	box-sizing: border-box;
	padding: 0 30px;
	margin:0 auto;
}

.container .row.ctas.select .contact label {
	text-align: left;
	font-weight: normal;
	padding-left: 0;
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 14px;
	color: #d7d7d7;
}

.container .row.ctas.select .contact input,
.container .row.ctas.select .contact textarea {
	/*background-color: #d7d7d7;*/
	border-radius: 0;
}

.container .row.ctas.select .contact textarea {
	height: 145px;
}

.ctas b,
.order-now-bar b {
	font-weight: 100;
	font-family: 'nexa_boldregular';
	text-transform: uppercase;
}

.row.ctas.select .cta {
	text-align: left;
	display: inline-block;
	float: none;vertical-align: top;
}

footer .sponsors-heading {
	font-family: 'nexa_boldregular', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	display: none;
	font-size: 13px;
	text-align:center;
}

/* Responsive Tweaks */

@media (max-width: 1199px) {
	.about ul li {
		padding: 20px 20px 0 20px;
	}

	.show-mobile {
		display: none;
	}
}

@media (max-width: 992px) {
	.logo-container {
		clear: both;
		width: 700px;
	}
		.logo a {
			margin-right: auto;
			margin-left: auto;
		}
	.about {
		clear: both;
		width: 700px;
	}
	.about ul {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
		.about ul li {
			padding: 20px 20px 0 20px;
		}
	.sub-msg p {
		text-align:center;
	}

	.container .row.ctas .col-md-4.cta {
		/*width: 175px;
		float: left;
		text-align: center;
		margin: 0 5px;*/
		width: 33%;
		box-sizing: border-box;
		margin: 0;
		float: left;
		padding-right: 20px;
		padding-left: 20px;
	}

	.container .row.select.ctas .col-md-4.cta {
		width: 45%;
	}

	.container .row.ctas .col-md-4.cta.vendors {
		padding-left: 10px;
		padding-right: 10px;
	}

	.container .row.select.ctas .col-md-4.cta {
	
		text-align: left;
		display: inline-block;
		float: none;
		vertical-align: top;
	}

}
@media (max-width: 790px) {

	.logo-container {
		width: 100%;
	}
	.about {
		width: 100%;
	}
		.about ul li {
			font-size: 14px;
			line-height: 16px;
		}
	
	.main-nav {
		float: none !important;
		text-align: center;
	}
		.main-nav ul,
		ul.social {
			width: 100%;
			text-align: center;
		}
			.main-nav ul li,
			ul.social li {
				display: block;
				font-size: 18px;
				padding: 8px;
			}
				.main-nav ul li a,
				ul.social li a {
					text-decoration: underline;
				}
	.main-nav ul.social {
		display: none;
	}

	footer .social.full li.main {
		display: block;
	}

	footer .sponsors-heading {
		display: block;
		margin-top: -50px;
		padding-bottom: 20px;
		font-size: 15px;
		border: solid 1px #212937;
		border-width: 1px 0 0 0;
		background: #171717;
		padding-top: 20px;
	}

	footer ul.social.full {
		padding-bottom: 15px;
	}

	footer .bottom .social {
		display: none;
	}
	footer .bottom .copyright {
		padding-top: 25px;
	}

	.container footer .row.sponsors {
		margin-bottom: 0;

		border: solid 1px #212937;
		border-width: 0 0 1px 0;
	}

	.row.main-nav {
		border-width: 1px 0 0 0;
		margin-bottom: 10px;
		padding-top: 0;
		margin-top: 10px;
	}

	.row.main-nav ul {
		display: none;
	}

	.copyright {
		width: 100%;
		float: none !important;
		text-align: center;
		font-size: 15px;
		padding: 8px 0;
	}

	h2.callout {
		font-size: 40px;
		line-height: 38px;
	}

	.show-mobile {
		display: block;
	}
	.hide-mobile {
		display: none;
	}

	.container.row.ctas,.container.row.marquee-container {
		width: 100%;
		margin-right: 0;
		margin-right: 0;
	}

	.container .row.ctas.select .contact label.control-label {
		text-align: center;
		width: 100%;
		display: block;
	}

	.container .row.sponsors {
		margin-top: 15px;
		border-bottom: 0;
		padding-top: 25px;
	}

	.container .row.sponsors .sponsor ul li a {
		display: inline-block;
		float: none;
	}

	.container .row.sponsors .sponsor, 
	.container .row.sponsors .sponsor ul {
		text-align: center;
		min-height:0;
	}

	.container .row.sponsors .sponsor {
		padding-bottom: 20px;
	}

	.container .row.sponsors .sponsor.second {
		border-right-width: 0;
		border-left-width: 0;
	}

	.sponsors ul li {
		display: inline-block;
		float: none;
	}

	.sponsors h4 {
		background: #171717;
		padding: 10px;
		width: 195px;
		margin: 0 auto;
		margin-top: -17px;
		margin-bottom: 10px;
	}
}

@media (max-width: 650px) {

	body {
		overflow-x: hidden; /* using this to determine if carousel should be used */
		background-color: #0d0d0d;
	}

		.about ul li {
			font-size: 10px;
			line-height: 12px;
		}
		.about ul li {
			padding: 0 5px 0 5px;
		}
	h2.callout {
		font-size: 50px;
		line-height:45px;
		margin-top: 6px;
	}

	.container.top {
		background-position: 0% -55px;
	}

	.container .row.ctas {
		box-sizing: content-box;
		width: 110%;
		margin-left: -5%;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 5px;
	}
	.container .row.ctas .col-md-4.cta {
		box-sizing: content-box;
		width: 70%;
		padding-top: 200px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 0;
		margin-right: 0;		float: none;
		margin: 0 auto;
	}

	.main.container {
		margin-top: -20px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	}
	
	.row.main-nav {
		border-width: 0;
	}

	.container .row.ctas .col-md-4.cta.vendors {

		background: url('../images/button-cta-icons-vendors.png') center 20px no-repeat;
		border: solid 1px #3c4d66;
		border-width: 1px 0;
		float: none;
		margin: 0 auto;
		margin-top: 30px;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}

	.container .row.select.ctas .col-md-4.cta {
		display: block;
		float: none;
	}

	.container .row.ctas .col-md-4.cta p {
		text-align: center;
	}

	.container .row.ctas .col-md-4.cta.sub-option-first, 
	.container .row.ctas .col-md-4.cta.sub-option-second {
		min-height: 0;
		background: transparent;
		width: 60%;
		text-align: center;
	}

	.container .row.ctas .col-md-4.cta.sub-option-first {
		border: solid 1px #3c4d66;
		border-width: 0 0 1px 0;
		margin-bottom: 15px;
	}

	.container .row.ctas .col-md-4.cta.sub-option-second {
		padding-top: 20px;
	}

	.container .row.ctas.select {
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.invisible {
		display: none;
	}

	.marquee {
		margin-bottom: -7px;

	}

	.container .row.marquee-container {
		text-transform: uppercase;
		width: 110%;
		margin-left: -5%;
		box-sizing: content-box;
	}

	.container .row.marquee-container .marquee {
		font-size: 18px;
		padding-top: 9px;
	}
	.performers-heading {
		display: none;
	}

	.container .row.ctas.select .contact {
		width: 100%;
	}

	.container.carousel .overlay {
		background: url('../images/gradient-fade-up.png') 100% 100% repeat-x;
	}

	.row.buy-button-section.order-now-bar {
/*		background: url('../images/gradient-fade-up.png') 0% -80px repeat-x;
		background-color: transparent;*/
		height: 175px;
		margin-top: -190px;
		padding-top: 22px;
/*		border-top: 1px solid #34465f;*/
width: 150%;
margin-left: -25%;
	}

}

@media (max-width: 1199px) {
	.row.ctas {
		box-sizing: content-box;
		width: 115%;
		margin-left: -7.5%;
	}
	.row.marquee-container {
		box-sizing: content-box;
		width: 115%;
		margin-left: -7.5%;
	}
	.row.ctas .cta {
		box-sizing: content-box;
		width: 265px;
		padding-top: 200px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 40px;
		margin-right: 40px;
	}

	.row.ctas .cta.vendors {
		padding-left: 40px;
		padding-right: 40px;
		margin-left: 0;
		margin-right: 0;
	}

	.row.ctas .cta.sub-option-first {
		padding-left: 0;
		padding-right: 40px;
		margin-left: 0;
		margin-right: 0;
	}

		.ctas .performers {
			margin-left: 40px;
		}

		.ctas .volunteers {
			margin-right: 40px;
		}

	.container .row.ctas.select .contact label {
		text-align: left;
		width: 100%;
		display: block;
	}
	.container .sponsors .sponsor {
		min-height: 300px;
	}

	.sponsors ul li a.fangamer {
		margin-left: 0px;
	}

	.sponsors ul li a.nerdymusic {
		margin-left: 0px;
		margin-top: 5px;
	}

	.sponsors ul li a.nerdcoremeow,
	.sponsors ul li a.scifried {
		margin-top: 5px;
	}
}

@media (min-width: 992px) {
	.sub-msg.text-left p {
		padding-top: 17px;
	}

	.sub-msg.text-right p {
		padding-top: 8px;
	}
}

@media (min-width: 1199px) {
	.sub-msg.text-right p,
	.sub-msg.text-left p {
		padding-top: 17px;
	}
}
