
/* Nexa Free Bold */
@font-face {
	font-family: 'nexa_boldregular';
	src: url('../fonts/nexafree/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexafree/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nexafree/Nexa_Free_Bold-webfont.woff') format('woff'),
		url('../fonts/nexafree/Nexa_Free_Bold-webfont.ttf') format('truetype'),
		url('../fonts/nexafree/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexa_lightregular';
	src: url('../fonts/nexafree/Nexa_Free_Light-webfont.eot');
	src: url('../fonts/nexafree/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nexafree/Nexa_Free_Light-webfont.woff') format('woff'),
		url('../fonts/nexafree/Nexa_Free_Light-webfont.ttf') format('truetype'),
		url('../fonts/nexafree/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	background: url('../images/bg.jpg');
}

body {
	background: transparent !important;
}

b {
	font-family: 'Open Sans';
	font-weight: 600;
}

.container {
	background-color: #0d0d0d;
	font-family: 'Open Sans';
	color: #efefef;
	padding: 5px 40px 5px 40px !important;
	box-sizing: border-box !important;

	-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
}

.ctas {
	background-color: #181f2a;
}

.main-nav {
	border: solid 1px #3c4d66;
	border-width: 1px 0;
	padding: 6px 0;
	margin-bottom: 20px;
}
	.main-nav ul {
		margin-bottom: 0;
		padding-top: 3px;
	}
	.main-nav a:link,
	.main-nav a:visited,
	.social a:link,
	.social a:visited {
		font-family: 'nexa_boldregular', sans-serif;
		color: #a9e0ff;
		text-transform: uppercase;
		font-weight: 100;
	}

	.main-nav a:hover,
	.social a:hover {
		color: #6dace2;
	}

.main-nav ul.social {
	padding-top: 0;
}


.main-nav .social .youtube a {
	background: url('../images/social-icons.png') no-repeat;
	display: block;
	padding-top: 23px;
	height: 0;
	width: 23px;
	overflow: hidden;
}
	.main-nav .social .youtube a:hover {
		background-position: 0 -23px;
	}

.main-nav .social .twitter a {
	background: url('../images/social-icons.png') no-repeat;
	background-position: -30px 0;
	display: block;
	padding-top: 23px;
	height: 0;
	width: 23px;
	overflow: hidden;
}
	.main-nav .social .twitter a:hover {
		background-position: -30px -23px;
	}

.main-nav .social .facebook a {
	background: url('../images/social-icons.png') no-repeat;
	background-position: -60px 0;
	display: block;
	padding-top: 23px;
	height: 0;
	width: 23px;
	overflow: hidden;
}
	.main-nav .social .facebook a:hover {
		background-position: -60px -23px;
	}

.main-nav .social {
	height: 24px;
	overflow: hidden;
}

.about ul li {
	font-family: 'nexa_lightregular', sans-serif;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	padding: 20px 60px 0 60px;
}

	.about ul li.last {
		padding-right: 0;
	}

h1.logo a {
	background: url('../images/nerdapalooza-logo.png') no-repeat;
	display: block;
	padding-top: 51px;
	height: 0;
	width: 292px;
	overflow: hidden;
}

h2.callout {
	font-family: 'nexa_boldregular', sans-serif;
	color: #6298e4;
	text-transform: uppercase;
	font-size: 62px;
	line-height: 50px;
	margin-top: 5px;
	font-weight: 100;
	text-align: center;
}

h2.choose {
	font-family: 'nexa_boldregular', sans-serif;
	color: #6298e4;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	font-weight: 100;
	text-align: center;
	padding-bottom: 10px;
}

	.choices {
		font-size: 14px;
		font-family: 'Open Sans';
		text-transform: none;
		display: block;
		color: #d7d7d7;
		padding-bottom: 10px;
		margin-top: -8px;
		text-align:center;
		width: 100%;
		font-weight: 100;
	}

.copyright {
	font-family: 'nexa_boldregular', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
}

.go-back {
	font-size: 18px;
	display: block;
	text-align: center;
}

.row.ctas {
	box-sizing: content-box;
	width: 110%;
	margin-left: -5%;

	padding-top: 20px;
	padding-bottom: 35px;

	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
}
	.ctas .cta {
		box-sizing: content-box;
		width: 310px;
		padding-top: 200px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 70px;
		margin-right: 70px;
		position: relative;
	}

	.ctas .performers {
		background: url('../images/button-cta-icons-performers.png') center 20px no-repeat;

		margin-left: 70px;
		margin-right: 0px;
	}

	.ctas .vendors {
		background: url('../images/button-cta-icons-vendors.png') center 20px no-repeat,
					url('../images/tall-separator.gif') center left no-repeat,
					url('../images/tall-separator.gif') center right no-repeat;
		padding-left: 35px;
		padding-right: 35px;
		margin-left: 35px;
		margin-right: 35px;
	}

	.ctas .volunteers {
		background: url('../images/button-cta-icons-volunteers.png') center 20px no-repeat;

		margin-left: 0px;
		margin-right: 70px;
	}
	
	.ctas .col-md-4.cta.last {
		margin-right: 0;
	}

	.container .row.ctas .col-md-4.cta.sub-option-first,
	.container .row.ctas .col-md-4.cta.sub-option-second {
		min-height: 0;
	}

	.cta.sub-option-first {
		background: url('../images/short-separator.gif') center right no-repeat;
		padding-right: 50px;
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
	}
		.cta.sub-option-second {
		padding-left: 50px;
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
	}

	.cta.sub-option-first,
	.cta.sub-option-second {
		padding-top: 0 !important;
	}

	.invisible{
		visibility: hidden;
	}

.cta-btn-container {
	text-align: center;
}

.performers-heading {
	font-size: 10px;
	margin-bottom: -20px;
	height: 20px;
	font-family: 'nexa_boldregular', sans-serif;
	color: #4c5d79;
	text-transform: uppercase;
	font-weight: 100;
}

.performers-heading span {
	margin: 0 auto;
	display: block;
	width: 100%;
	text-align: center;
}

.performers-heading span a {
	text-decoration: underline;
}

footer {
	padding-top: 14px;
}

.btn-lg {
	font-family: 'Open Sans';
	font-weight: 700;
	text-transform: uppercase;
	background: #6cacd7 !important;
	border-radius: 3px;
	border: none 0 !important;
	color: #fff !important;
	padding: 15px 15px !important;
	width: 190px;
	-webkit-box-shadow: 0px 2px 0px #518eb7;
	-moz-box-shadow: 0px 2px 0px #518eb7;
	box-shadow: 0px 2px 0px #518eb7;
	text-shadow: 0px 1px 0px #518eb7;
	margin-bottom: 10px !important;
}
	.btn-lg:hover {
		background: #518eb7 !important;
		-webkit-box-shadow: 0px 2px 0px #396f94;
		-moz-box-shadow: 0px 2px 0px #396f94;
		box-shadow: 0px 2px 0px #396f94;
	}

.btn-lg.btn.buy {
	background: #f29d52 !important;
	box-shadow: 0px 2px 0px #b06523;
	-webkit-box-shadow: 0px 2px 0px #b06523;
	-moz-box-shadow: 0px 2px 0px #b06523;
	text-shadow: 0px 1px 0px #d5833a;
}
	.btn-lg.buy:hover {
		background: #d5833a !important;
		-webkit-box-shadow: 0px 2px 0px #b06523;
		-moz-box-shadow: 0px 2px 0px #b06523;
		box-shadow: 0px 2px 0px #b06523;
	}

.button-heading {
	text-transform: uppercase;
	display: block;
	padding-bottom: 5px;
}

hr.vertical.spacer {
	border: solid 1px #3c4d66;
	float: left;
	height: 200px; 
	margin-left: -1px;
}

/* marquee */

.row.marquee-container {
	width: 110%;
	margin-left: -5%;
	background: #181f2a;
	border-width: 1px 0;
	text-transform: uppercase;
}

.marquee {
	background: #30405a;
	font-family: 'nexa_lightregular';
	overflow-x: hidden;
	overflow-y: hidden;
	height: 40px;
	font-size: 20px;
	width: 100%;
	position: relative;
	font-weight: 100;
	padding-top: 8px;

	display: block;
	white-space: nowrap;
	height: 40px;
	font-weight: 100;
	padding-left: 25px;
	padding-right: 25px;
}

.social.full li.main {
	display: none;
}

.sub-msg.text-right,
.sub-msg.text-left {
	text-align: center;
	font-weight: 100;
}

.container .row.ctas.select {
	text-align: center;
	padding-bottom: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container .row.ctas.select .contact {
	width: 600px;
	box-sizing: border-box;
	padding: 0 30px;
	margin:0 auto;
}

.container .row.ctas.select .contact label {
	text-align: left;
	font-weight: 100;
	padding-left: 0;
	font-family: 'nexa_boldregular';
	text-transform: uppercase;
}

.container .row.ctas.select .contact input,
.container .row.ctas.select .contact textarea {
	border-radius: 0;
}

.ctas b,
.order-now-bar b {
	font-weight: 100;
	font-family: 'nexa_boldregular';
	text-transform: uppercase;
}

.row.ctas.select .cta {
	text-align: left;
	display: inline-block;
	float: none;vertical-align: top;
}

/* Responsive Tweaks */

@media (max-width: 1199px) {
	.about ul li {
		padding: 20px 20px 0 20px;
	}

	.show-mobile {
		display: none;
	}
}

@media (max-width: 992px) {
	.logo-container {
		clear: both;
		width: 700px;
	}
		.logo a {
			margin-right: auto;
			margin-left: auto;
		}
	.about {
		clear: both;
		width: 700px;
	}
	.about ul {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
		.about ul li {
			padding: 20px 20px 0 20px;
		}
	.sub-msg p {
		text-align:center;
	}

	.container .row.ctas .col-md-4.cta {
		/*width: 175px;
		float: left;
		text-align: center;
		margin: 0 5px;*/
		width: 33%;
		box-sizing: border-box;
		margin: 0;
		float: left;
		padding-right: 20px;
		padding-left: 20px;
	}

	.container .row.select.ctas .col-md-4.cta {
		width: 45%;
	}

	.container .row.ctas .col-md-4.cta.vendors {
		padding-left: 10px;
		padding-right: 10px;
	}

	.container .row.select.ctas .col-md-4.cta {
	
		text-align: left;
		display: inline-block;
		float: none;
		vertical-align: top;
	}

}
@media (max-width: 790px) {

	.logo-container {
		width: 100%;
	}
	.about {
		width: 100%;
	}
		.about ul li {
			font-size: 14px;
			line-height: 16px;
		}
	
	.main-nav {
		float: none !important;
		text-align: center;
	}
		.main-nav ul,
		ul.social {
			width: 100%;
			text-align: center;
		}
			.main-nav ul li,
			ul.social li {
				display: block;
				font-size: 18px;
				padding: 8px;
			}
				.main-nav ul li a,
				ul.social li a {
					text-decoration: underline;
				}
	.main-nav ul.social {
		display: none;
	}

	footer .social.full li.main {
		display: block;
	}

	.row.main-nav {
		border-width: 1px 0 0 0;
		margin-bottom: 10px;
		padding-top: 0;
		margin-top: 10px;
	}

	.row.main-nav ul {
		display: none;
	}

	.copyright {
		width: 100%;
		float: none !important;
		text-align: center;
		font-size: 13px;
		padding: 8px 0;
	}

	h2.callout {
		font-size: 40px;
		line-height: 38px;
	}

	.show-mobile {
		display: block;
	}
	.hide-mobile {
		display: none;
	}

	.container.row.ctas,.container.row.marquee-container {
		width: 100%;
		margin-right: 0;
		margin-right: 0;
	}
}

@media (max-width: 650px) {

		.about ul li {
			font-size: 10px;
			line-height: 12px;
		}
		.about ul li {
			padding: 0 5px 0 5px;
		}
	h2.callout {
		font-size: 27px;
		line-height: 26px;
	}


	.container .row.ctas {
		box-sizing: content-box;
		width: 110%;
		margin-left: -5%;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 5px;
	}
	.container .row.ctas .col-md-4.cta {
		box-sizing: content-box;
		width: 70%;
		padding-top: 200px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 0;
		margin-right: 0;		float: none;
		margin: 0 auto;
	}
	.container .row.ctas .col-md-4.cta.vendors {

		background: url('../images/button-cta-icons-vendors.png') center 20px no-repeat;
		border: solid 1px #3c4d66;
		border-width: 1px 0;
		float: none;
		margin: 0 auto;
		margin-top: 30px;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}

	.container .row.select.ctas .col-md-4.cta {
		display: block;
		float: none;
	}

	.container .row.ctas .col-md-4.cta p {
		text-align: center;
	}

	.container .row.ctas .col-md-4.cta.sub-option-first, 
	.container .row.ctas .col-md-4.cta.sub-option-second {
		min-height: 0;
		background: transparent;
		width: 60%;
		text-align: center;
	}

	.container .row.ctas .col-md-4.cta.sub-option-first {
		border: solid 1px #3c4d66;
		border-width: 0 0 1px 0;
		margin-bottom: 15px;
	}

	.container .row.ctas .col-md-4.cta.sub-option-second {
		padding-top: 20px;
	}

	.container .row.ctas.select {
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.invisible {
		display: none;
	}

	.marquee {
		margin-bottom: -7px;

	}

	.container .row.marquee-container {
		text-transform: uppercase;
		width: 110%;
		margin-left: -5%;
		box-sizing: content-box;
	}

	.container .row.marquee-container .marquee {
		font-size: 18px;
		padding-top: 9px;
	}
	.performers-heading {
		display: none;
	}


}

@media (max-width: 1199px) {
	.row.ctas {
		box-sizing: content-box;
		width: 115%;
		margin-left: -7.5%;
	}
	.row.marquee-container {
		box-sizing: content-box;
		width: 115%;
		margin-left: -7.5%;
	}
	.row.ctas .cta {
		box-sizing: content-box;
		width: 265px;
		padding-top: 200px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 40px;
		margin-right: 40px;
	}

	.row.ctas .cta.vendors {
		padding-left: 40px;
		padding-right: 40px;
		margin-left: 0;
		margin-right: 0;
	}

	.row.ctas .cta.sub-option-first {
		padding-left: 0;
		padding-right: 40px;
		margin-left: 0;
		margin-right: 0;
	}

		.ctas .performers {
			margin-left: 40px;
		}

		.ctas .volunteers {
			margin-right: 40px;
		}
}

@media (min-width: 992px) {
	.sub-msg.text-left p {
		padding-top: 15px;
	}

	.sub-msg.text-right p {
		padding-top: 5px;
	}
}

@media (min-width: 1199px) {
	.sub-msg.text-right p {
		padding-top: 15px;
	}
}
